.bebidas-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  animation: fadeIn 0.6s ease-in;
  scroll-margin-top: 80px;
  margin-bottom: 2rem;
}

@media (max-width: 480px) {
.bebidas-container {
    padding: 1.5rem 0.75rem;
}
}

.postres-grid{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.postres-grid .product-card{
  width: 280px;
}

@media (max-width: 615px) {
.postres-grid{
  display: grid;
  width: max-content;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
}