.container{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container-button{
    margin: 0 auto;
    margin-bottom: 50px;
}

.boton-scroll{
    font: 1.7em Kraft;
    box-shadow: 10px 10px 10px -6px #be272744;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 150ms linear;
    background-color: #be2727;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .boton-scroll {
        font: 1em Kraft;
    }
  
  }