.home__social{
    display: grid;
    align-items: center;
    margin-left: 20px;
    background-color: rgb(1,1,1);
    border-radius: 20px;
    padding: 10px;
}

.home__social-icon{
    font-size: 2rem;
    transition: .3s;
    color: #be2727;
    text-decoration: none;
}

.home__social .home__social-icon{
    margin: 0 auto;

}

@media screen and (max-width: 480px) {
    .home__social{
        padding: 5px;
    }

    .home__social-icon{
        font-size: 20px;
    }
}

