.home__social{
    display: grid;
    align-items: center;
    margin-left: 20px;
    background-color: rgb(1,1,1);
    border-radius: 20px;
    padding: 10px;
}

.home__social-icon{
    font-size: 2rem;
    transition: .3s;
    text-decoration: none;
}

.home__social-icon img {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 32px;
}

.facebook{
    color: #3b5998;
}

.whatsapp{
    color: #25d366;
}

.phone{
    color: #be2727;
}

.home__social .home__social-icon{
    margin: 0 auto;

}

@media screen and (max-width: 480px) {
    .home__social{
        padding: 5px;
    }

    .home__social-icon{
        font-size: 20px;
    }

    .home__social-icon img {
        padding-top: 5px;
        padding-bottom: 5px;
        width: 20px;
    }
}

